/**
 * File: zrconfigtool.css
 * Author: Andrew Borba
 * Description: Style sheet for the ZR Config Tool.
 */

/*Global styles -----------------------------------------------------------------------------------------------------------*/

html {
	background: black;
}

body {
	width: 800px;
	margin: 0 auto;
	background: black;
	color: #fff;
	font: 100% Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-style:normal;
}

a {
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #333;
}

/* Header styles */

header {
	height: 165px;
	background: url(../_images/zrlogo.png) no-repeat left center, #666;
	overflow: hidden;
	margin-bottom: 0.5em;
}

header h1 {
	color: black;
	font-family: Courier;
	font-size: 3em;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 100px;
	padding-left: 450px;
}

/* Section styles.
 * There are two sections, one for zombie classes and one for human.
 */

section {
	background: black;
	min-height: 300px;
	margin: 30px 0px;
	position: relative;
	overflow: hidden;
}

section h1, section h2, section h3 {
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 0.2em;
	font-weight: normal;
	font-style: normal;
}

section h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	font-size: 2em;
}

section h2 {
	color: white;
	font-size: 1.6em;
}

section h3 {
	font-size: 1.5em;
	color: black;
}

section#zombieClasses h1 {
	-o-text-stroke-width: 2px #550000;
	-ms-text-stroke-width: 2px #550000;
	-moz-text-stroke-width: 2px #550000;
	-webkit-text-stroke: 2px #550000;
	border-bottom: 1px solid #550000;
}

section#humanClasses h1 {
	-o-text-stroke-width: 2px #000055;
	-ms-text-stroke-width: 2px #000055;
	-moz-text-stroke-width: 2px #000055;
	-webkit-text-stroke: 2px #000055;
	border-bottom: 1px solid #000055;
}

/* Article styles */

article {
	background: #666;
	margin: 30px;
	padding-bottom: 1px; /** CSS bug?  When anything > 0 it expands to the margin defined in .classContent */
}

/* Config sections */
article h3 {
	border-bottom: 1px solid black;
}

/* Footer styles */

footer {
    background: #666;
}

footer p {
    color: black;
    font-size: 70%;
    font-family: tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0px;
}

/* Class article styles */

#zombieClassTemplate {
	display: none;
}

#humanClassTemplate {
	display: none;
}

.classContent {
	margin: 20px;
}

.classHeader {
	position: relative;
	overflow: hidden;
	height: 32px;
}

#zombieClasses .classHeader {
	background: #550000;
}

#humanClasses .classHeader {
	background: #000055;
}

.classHeader .deleteClassButton {
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 5px;
	margin: 0 auto;
	height: 28px;
	width: 28px;
}

.classHeader h2 {
	margin: 0 auto;
	text-align: center;
}

.zombieEmptyClassNameLabel {
	color: #aa3333;
	font-style: italic;
}

.humanEmptyClassNameLabel {
	color: #3333aa;
	font-style: italic;
}

.zombieClassNameLabel {
	color: white;
	font-style: normal;
}

.humanClassNameLabel {
	color: white;
	font-style: normal;
}

.configSection {
	margin: 20px;
}

.classContent h3 {
	margin: 20px 0px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#zombieClasses .classContent h3:hover {
	color: #550000;
}

#humanClasses .classContent h3:hover {
	color: #000055;
}

.option {
	color: black;
	margin: 20px;
}

.optionLabel {
	font-weight: bold;
	font-size: 1em;
	float: left;
}

.optionInput {
	float: left;
	clear: right;
	margin: 0px 10px 5px;
}

.optionCaption {
	font-size: 0.8em;
	font-style: italic;
	clear: left;
}

#zombieClasses .optionCaption {
	color: #550000;
}

#humanClasses .optionCaption {
	color: #000055;
}

.addClassButton {
	cursor: pointer;
	text-align: center;
	height: 32px;
}

#zombieClasses .addClassButton {
	background: #550000;
}

#humanClasses .addClassButton {
	background: #000055;
}

/* Accordion styles */

.accordion h2, .accordion h3 {
	cursor: pointer;
}
